# Ignore thư mục build
/target/

# IntelliJ IDEA
/.idea/
/*.iml
/out/

# VS Code
.vscode/

# File tạm
*.log
*.class
*.jar
*.war

# Hệ điều hành sinh ra
.DS_Store
Thumbs.db

# File môi trường (nếu có)
.env
